@{
    ViewBag.Title = "Alteração de Senha";
    ViewBag.AreaTitle = "Alteração de Senha";
}
<style>
    .navbar-btn {
        display: none;
    }

    .dropdown-toggle {
        display: none;
    }

    .right-side {
        margin-left: 0px;
    }

    .sidebar-offcanvas{
        display:none
    }
</style>

<div style="margin-left:15px">
    <p>
        Uma nova senha foi enviada para seu e-mail.
    </p>
    <p>
        Após receber essa senha, <a href="@Url.Action("Login" , "Usuarios")">clique</a> aqui e faça o login novamente.
    </p>
</div>
	
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".sidebar-offcanvas").addClass("collapse-left");
            $(".dropdown-toggle").hide();
        });
    </script>
}