$grid-gutter: 15px; // espaçamento entre as colunas
$grid-columns: 12; // Quantidade de colunas
$grid-max: 940px; // Tamanho do container

.row-grid {
	margin: 0 (-$grid-gutter);
}

[class*="grid-"] {
	float: left;
	padding: 0 $grid-gutter;
	margin-bottom: 20px;
	box-sizing: border-box;
}
  
@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		width: 100% / $grid-columns * $i;
	}
}
  
.grid-6 {
	@include breakpoint(tablet) {
		width: 100%;
		padding: 0 25px;
	}
}    

.grid-3, .grid-4, .grid-8, .grid-9, .grid-2, .grid-7 {
	@include breakpoint(tablet) {
		width: 100%;
		text-align: center;
	}
}    

.main-grid {
	padding-left: 35px;
	@include breakpoint(tablet) {
		padding: 0 15px;
		box-sizing: border-box;
		width: 100%;
	}
}

.contact-box {
	border-left: 2px solid #dadada;
	padding-left: 35px;
}