<div ng-include="'views/_partials/_breadcumb.html'"></div>

<div class="container-general">
    <div class="center">
        <div class="row-grid clearfix">
            <div class="grid-6">
                <h2 class="title-area">Introdução</h2>
                <div class="block-text">
                    <p>Garantir a acessibilidade na Web é permitir que qualquer indivíduo, utilizando qualquer tecnologia de navegação, visite qualquer ambiente web e obtenha completo entendimento das informações contidas nele, além de ter total habilidade de interação.</p>
                </div>
            </div>
            <div class="grid-6">
                <h2 class="title-area">Sobre o Ambiente</h2>
                <div class="block-text">
                    <p>Nesse ambiente, buscou-se contemplar as recomendações de acessibilidade do Modelo de Acessibilidade em Governo Eletrônico (eMAG).</p>
                    <p>Também está disponível a barra de acessibilidade com as dicas dos atalhos, opção de alto contraste e link para esta página de acessibilidade.</p>
                </div>
            </div>
        </div>
        <div class="wrapper-bottom">
            <h2 class="title-area">Teclas de Atalho</h2>
            <div class="row-grid clearfix">
                <div class="grid-6">
                    <div class="block-text">
                        <h3>Detalhamento</h3>
                        <p>São teclas de acesso rápido a seções do conteúdo. Esse ambiente disponibiliza as teclas de atalho da seguinte forma:</p>
                    </div>
                    <table class="table-comand">
                        <tr class="header">
                            <td width="10%">Teclas</td>
                            <td>Descrição</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="button-command">X</div>
                            </td>
                            <td>Ir para o Portal de Serviços</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="button-command">X</div>
                            </td>
                            <td>Ir para o Contéudo</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="button-command">X</div>
                            </td>
                            <td>Ir para o Menu</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="button-command">X</div>
                            </td>
                            <td>Alto contraste: Ative para otimizar o contraste do ambiente</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="button-command">X</div>
                            </td>
                            <td>Carrega página de instruções da política de acessibilidade</td>
                        </tr>
                    </table>
                </div>
                <div class="grid-6">
                    <div class="block-text">
                        <h3>Como Utilizar?</h3>
                        <p>Para utilizar as teclas de atalho, existem comandos específicos de cada navegador:</p>
                    </div>
                    <table class="table-comand">
                        <tr class="header">
                            <td width="40%">Navegadores</td>
                            <td>Comando</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/nav-google.png" alt="Google Chrome" class="ico">
                                Google Chrome
                            </td>
                            <td>Alt + número</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/nav-moz.png" alt="Mozilla Firefox" class="ico">
                                Mozilla Firefox
                            </td>
                            <td>Alt + Shift + número</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/nav-ie.png" alt="Internet Explorer" class="ico">
                                Internet Explorer
                            </td>
                            <td>Alt + número</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/nav-opera.png" alt="Opera" class="ico">
                                Opera
                            </td>
                            <td>Shift + Escape + número</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/nav-safari.png" alt="Safari" class="ico">
                                Safari
                            </td>
                            <td>Option + número</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>