<div ng-include="'views/_partials/_breadcumb.html'"></div>
<div class="container-general">
    <div class="center">
        <header class="filter-box">
            <h2 class="title-area">Filtro</h2>
            <form class="row-grid clearfix" ng-submit="searchFilter()">
                <div class="grid-4">
                    <label class="label-input">Palavra-Chave</label>
                    <input type="text" placeholder="Digite um termo para filtrar" class="input-default total" ng-model="palavra">
                </div>
                <div class="grid-2">
                    <label class="label-input">Status</label>
                    <select class="input-default total" ng-model="statusid" ng-options="stat as stat.Descricao for stat in status track by stat.Id">
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="grid-2">
                    <label class="label-input">Período Inicial</label>
                    <input type="date" class="input-default total"  ng-model="datainicio">
                </div>
                <div class="grid-2">
                    <label class="label-input">Período Final</label>
                    <input type="date" class="input-default total" ng-model="datafim">
                </div>
                <div class="grid-2">
                    <button class="bt-default total">Filtrar</button>
                </div>
            </form>
        </header>
        <ul class="list-news">
            <li ng-repeat="item in concursos">
                <a class="content block-text" href="#!/publicacoes-oficiais/concursos/{{item.Slug}}">
                    <header class="header">
                        <span class="category-label">{{item.ConcursoModalidade.Descricao}}</span>
                        <span class="date">{{item.StatusPublicacao.Descricao}}</span>
                    </header>
                    <h2 class="title-bold">{{item.Titulo}}</h2>
                    <p>{{item.Descricao}}</p>
                    <div class="infos-auxiliar">
                        <p><strong>Número:</strong> {{item.Numero}}</p>
                        <p><strong>Data de Abertura:</strong>{{item.DataInicio}}</p>
                        <p><strong>Data de Publicação:</strong>{{item.DataFim}}</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="text-center block-text" ng-if="concursos.length == 0">
            <p>Nenhum resultado encontrado.</p>
        </div>
        <footer class="loading" ng-if="concursos.length > 0">
            <button class="bt-gray" ng-click="loadMore()" ng-disabled="disabled">Carregar mais</button>
        </footer>
    </div>
</div>