<div ng-include="'views/_partials/_breadcumb.html'"></div>

<div class="container-general">
    <div class="center">
        <header class="filter-box">
            <h2 class="title-area">Filtro</h2>
            <form class="row-grid clearfix" ng-submit="searchFilter()">
                <div class="grid-4">
                    <label class="label-input">Palavra-Chave</label>
                    <input type="text" class="input-default total" ng-model="palavra" placeholder="Digite um termo para filtrar">
                </div>
                <div class="grid-3">
                    <label class="label-input">Categoria</label>
                    <select class="input-default total" ng-model="categoriaid" ng-options="cat as cat.Descricao for cat in categorias track by cat.Id">
                        <option value="">Selecione a Categoria</option>
                    </select>
                </div>
                <div class="grid-3">
                    <label class="label-input">Período</label>
                    <select class="input-default total" ng-model="data" ng-options="data as data.Descricao for data in datas track by data.Id">
                        <option value="">Selecione a Período</option>
                    </select>
                </div>
                <div class="grid-2">
                    <button class="bt-default total">Filtrar</button>
                </div>
            </form>
        </header>
        <ul class="articles-general intern">
            <li ng-repeat="item in audios">
                <div class="content">
                    <div class="category-label">{{item.GaleriaAudioCategoria.Descricao}}</div>
                    <p class="date">{{item.DataPublicacao}}</p>
                    <h3 class="title-bold">{{item.Titulo}}</h3>
                    <audio controls class="audio-box">
                        <source src="{{item.CaminhoLogicoAudio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </li>
        </ul>
        <div class="spinner" ng-show="loading">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
        <div class="text-center block-text" ng-if="audios.length  == 0">
            <p>Nenhum resultado encontrado.</p>
        </div>
        <footer class="loading" ng-if="audios.length > 0"> 
            <button class="bt-gray" ng-click="loadMore()" ng-disabled="disabled">Carregar mais</button>
        </footer>
    </div>
</div>