<div ng-include="'views/_partials/_breadcumb.html'"></div>
<section class="container-general">
    <div class="center">
        <div class="row-grid cards-default clearfix list-secretary">
            <div class="grid-4" ng-repeat="item in secretarias">
                <div class="card">
                    <a href="#!/o-governo/secretarias/{{item.Slug}}">
                        <img src="{{item.CaminhoLogicoIcone}}" class="ico" alt="Secretaria Municipal de {{item.SecretariaCategoria.Descricao}}">
                        <h2 class="title">
                            {{item.Prefixo}} <strong>{{item.Nome}}</strong>
                        </h2>
                        <ul class="contacts">
                            <li>
                                <h3>Secretário</h3>
                                <p>{{item.Cargo}}</p>
                            </li>
                            <li>
                                <h3>Contato</h3>
                                <p>{{item.Telefone}} <br>{{item.Email}}</p>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>    
    </div>
</section>