<div ng-include="'views/_partials/_breadcumb.html'"></div>
<section class="container-general">
    <div class="center">
        <div class="block-text">
            <p>A transparência das contas públicas se resume em três características: publicidade, facilidade de compreensão e utilidade. As informações aqui divulgadas estão disponibilizadas de forma ampla com linguagem acessível e com boa apresentação.</p>
        </div>
        <nav class="links-default">
            <a href="#" target="_blank"><i class="fa fa-external-link-square"></i>Lei de Acesso à Informação Prefeitura do Município (lei 5230/2013)</a>
            <a href="#" target="_blank"><i class="fa fa-external-link-square"></i>Portal da Controladoria-Geral da União (CGU) sobre a Lei de Acesso à Informação</a>
            <a href="#" target="_blank"><i class="fa fa-external-link-square"></i>Cartilha de "Acesso à informação pública" da CGU – Controladoria Geral da União</a>
            <a href="#" target="_blank"><i class="fa fa-external-link-square"></i>Portal da Lei de Acesso à Informação da Prefeitura do Município</a>
        </nav>
    </div>
</section>